.navbar{
    height: 10vh;
    /* padding-bottom: 3px !important; */
}
body{
    margin-bottom: 4000px;
}
.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    /* padding: 14px 28px; Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    
  }

  .info {background-color: #2169F3;} /* Blue */
.info:hover {background: #0b7dda;}

.background {
    background-image: url("/images/background.jpg");
    height: 90%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  
  .first-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-left: 20px;
    /* padding-right: 70%; */
    width: 400px;
  }