
body{
    margin-bottom: 700px;
}
.navbar{
    height: 10vh;
}
.background{
    background-image: url(../images/background.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
     background-position: center;
   
   
}
.name{
    text-align:left;
}
.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left:5px;
    font-weight: bolder;
    color: white;
}
.dropdown{
    
        overflow: hidden;
        background-color: #333;
        font-family: sans-serif;   
      
}
 
.rectangle {
    width:600px;
    margin-top: 100px;
    height:200px;
    border:1px solid #000;
    background: white;
    margin-left: 100px;
    padding-left: 10px;
    position: absolute;  
}
.topic{
    font-size: 5px;
    font-family:sans-serif;
    padding-top: 10px;
    margin-left: 20px;
    text-align: center;
}